.App {
  text-align: center;
}

.map {
  height: 70vh;
  /* width: 100%; */
  margin: 5%;
}

.form>select {
  padding-left: 1rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: medium;
  border-radius: 2rem;
}

.form>select:focus {
  background-color: antiquewhite;
  border-color: black;
}

.form>select:hover {
  background-color: aliceblue;
}